.navigation {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #9d9c9c;
  background: #f1f4f6;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;

    .header-link {
      text-decoration: none;
      color: black;
      cursor: pointer;
    }

    .header-link:hover {
      color: #3bb0fa;
    }
  }

  &__content {
    text-align: center;
    margin-top: 30px;
    font-size: 150%;
  }
}

.active {
  color: #330ede !important;
  font-weight: bold;
}