.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  &__username, &__password {
    max-width: 200px;
    width: 100%;
    height: 36px;
    border-radius: 8px;
    padding: 8px 12px;
    border: 1px solid #a6a4a4;
    margin-bottom: 20px;
  }

  &__username:focus {
    border: 1px solid blue;
    outline: none;
  }

  &__password:focus {
    border: 1px solid blueviolet;
    outline: none;
  }

  &__button {
    max-width: 200px;
    width: 100%;
    height: 36px;
    border-radius: 8px;
    padding: 8px 12px;
    background: blue;
    border: 1px solid blue;
    color: white;
    cursor: pointer;
  }
}